<nav class="navbar navbar-expand-md navbar-light" style="background-color: #f1f4f7;">
    <a class="navbar-brand nav-bar-font" href="#">
        <!-- <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
         <h3>&nbsp;EMS</h3>
       </a>
    <div class="navbar-nav nav-font">
        <a class="nav-item nav-link" routerLink='/ems-login' routerLinkActive="active">Login</a>
        <a class="nav-item nav-link" routerLink='/ems-employees' routerLinkActive="active">Employees</a>
        <a class="nav-item nav-link" routerLink='/ems-departments' routerLinkActive="active">Departments</a>
        <a class="nav-item nav-link" routerLink='/ems-salaries' routerLinkActive="active">Salaries</a>
    </div>
</nav>