<div class="container">
	<div class="row mt-40 mb-10">
		<div class="col-12 panel-heading heading-text  d-flex justify-content-between">
			<h1><span class="lead">Employees</span></h1>
		</div>
	</div>
</div>

<div class="container">
	<div class=" ems_table row ">
		<div class="col-6 mt-15 mb-15">
			<p class="m-0"><strong>Employees</strong></p>
		</div>
		<div class="col-6 mt-15 mb-15 d-flex align-items-end justify-content-end">
			<span class="ml-5">Add Employee</span>
		</div>
	</div>
	<div class="tab-content">
		<div class="row tab-pane fade show active">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-30">
				<div class="ems_table">
					<div class="row">
						<div class="col-6 col-sm-6 col-md-6 col-lg-6">
							Employee Number
						</div>
						<div class="col-6 col-sm-6 col-md-6 col-lg-6">
							{{ employee.empNo }}
						</div>
					</div>
					<div class="row">
						<div class="col-6 col-sm-6 col-md-6 col-lg-6">
							Employee First Name
						</div>
						<div class="col-6 col-sm-6 col-md-6 col-lg-6">
							{{ employee.firstName }}
						</div>
					</div>
					<div class="row">
						<div class="col-6 col-sm-6 col-md-6 col-lg-6">
							Employee Last Name
						</div>
						<div class="col-6 col-sm-6 col-md-6 col-lg-6">
							{{ employee.lastName }}
						</div>
					</div>
					<div class="row">
						<div class="col-6 col-sm-6 col-md-6 col-lg-6">
							Employee Birth Date
						</div>
						<div class="col-6 col-sm-6 col-md-6 col-lg-6">
							{{ employee.birthDate }}
						</div>
					</div>
					<div class="row">
						<div class="col-6 col-sm-6 col-md-6 col-lg-6">
							Employee First Name
						</div>
						<div class="col-6 col-sm-6 col-md-6 col-lg-6">
							{{ employee.firstName }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>