<header class="ems-header pt-15 pb-15" style="box-shadow: 0px 1px 2px 0px #f1f4f7">
    <nav class="navbar navbar-expand-md navbar-light navbar-inverse" style="background-color: #f1f4f7;">
        <div class=".container-fluid">
            <div class="collapse navbar-collapse d-flex">
                <div class="navbar-header mr-15 ml-15">
                    <a class="navbar-brand nav-bar-font ems-logo" href="#">
                        <!-- <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
                        <h3><span class="margin:20px pt-10 pb-20">EMS</span></h3>
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a class="nav-item nav-link" routerLink='/ems-employees' routerLinkActive="active">Employees</a>
                    </li>
                    <li><a class="nav-item nav-link" routerLink='/ems-departments'
                            routerLinkActive="active">Departments</a>
                    </li>
                    <li><a class="nav-item nav-link" routerLink='/ems-salaries' routerLinkActive="active">Salaries</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-item nav-link" routerLink='/ems-profile' routerLinkActive="active">
                            <span class="glyphicon glyphicon-user"></span>                       
                            Profile</a>
                    </li>
                    <li><a class="nav-item nav-link" routerLink='/ems-login'>
                            <span class="glyphicon glyphicon-log-out"></span>
                            Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
